<nav class="bg-[#fcfbff] px-6 py-4 shadow-sm flex justify-between items-center w-full">
  <!-- Logo texte uniquement -->
  <a routerLink="/" class="text-2xl font-bold bg-gradient-to-r from-purple-500 to-pink-500 text-transparent bg-clip-text">
    YalaBanat
  </a>

  <!-- Liens de navigation -->
  <div class="flex items-center space-x-6 text-sm font-medium text-gray-700">
    <a routerLink="/" class="hover:text-purple-600">Accueil</a>
    <a routerLink="/search" class="hover:text-purple-600">Rechercher</a>
    <a routerLink="/how-it-works" class="hover:text-purple-600">Comment ça marche</a>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/auth/login"
      class="px-6 py-2 bg-gradient-to-r from-purple-400 to-pink-400 text-white rounded-full font-semibold transition hover:from-purple-500 hover:to-pink-500">
      Connexion
      </a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <button (click)="logout()"
  class="px-6 py-2 bg-gradient-to-r from-purple-400 to-pink-400 text-white rounded-full font-semibold transition hover:from-purple-500 hover:to-pink-500">
  Déconnexion
</button>
    </ng-container>
  </div>
</nav>
